.ui-Partition {
  display: flex;
  align-items: stretch;
}

.ui-Partition.direction-horizontal {
  flex-direction: row;
}

.ui-Partition.direction-vertical {
  flex-direction: column;
}

.ui-Partition-Item {
  display: flex;
  flex: none;
}

.ui-Partition-Item + .ui-Partition-Item {
  flex: 1;
}

.ui-Partition-Item > * {
  flex: 1;
}