.root {
  display: flex;
  align-items: center;
}

.orientation-vertical {
  flex-direction: column;
}
.title {
  flex: 1;
  color: #1A1A1A;
}

.root .trailing {
  text-align: right;
  display: inline-flex;
  align-items: center;
}

.root .trailing > * {
  margin-left: 8px;
}

.level-page .title {
  font-size: 2.5rem; /* 40px */
  font-weight: 600;
}

.level-main .title {
  font-size: 2.125rem; /* 34px */
  font-weight: 600;
}

.level-caption .title {
  font-size: 0.8125rem; /* 13px */
  font-weight: 700;
  color: #777777;
}

.orientation-vertical { 
  align-items: stretch;
}
.orientation-vertical .trailing > * {
  text-align: left;
  margin-left: 0;
}
