.root {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.ui-Entry + .ui-Entry {
  /* border-bottom: 8px solid #F1E9DE; */
  margin-top: 16px;
}

.ui-Entry-Main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid transparent;
  background: #FFFFFF;
}

.spacing-medium .ui-Entry-Main {
  padding: 20px;
}

.spacing-large .ui-Entry-Main {
  padding: 32px;
}

.ui-Entry-Header {
  width: 100%;
}

.ui-Entry-Body {
  white-space: pre-wrap;
  width: 100%;
  gap: 12px;
  flex: 1;
}

.ui-Entry-Footer {
  display: block;
  width: 100%;
  text-align: right;
}

.ui-Entry-Extension {
  display: flex;
  gap: 4px;
  margin-left: 20px;
  /* background: #F7F2EC; */
}

.variant-subtle .ui-Entry-Main {
  background: #F7F2EC;
}

.variant-bare .ui-Entry-Main {
  background: transparent;
}

.line-none .ui-Entry-Main {
  border-color: transparent;
}

.line-outline .ui-Entry-Main {
  border-color: #DDD7CE;
}

.line-top .ui-Entry-Main {
  border-top-color: #DDD7CE;
}

.is-reverse {
  color: #ffffff;
}

.is-reverse .ui-Entry-Main {
  background-color: transparent;
}

.is-reverse .ui-Entry-Body {
  color: #E2E2E2
} 

.is-reverse.line-outline .ui-Entry-Main {
  border-color: rgba(255, 255, 255, 0.05);
}

.is-reverse.line-top .ui-Entry-Main {
  border-top-color: rgba(255, 255, 255, 0.05);
}
