.ui-ImgBox {
  flex-shrink: 0;
}

.ui-ImgBox > img {
  display: block;
  width: 100%;
  height: auto;
}

.size-small {
  width: 44px;
}

.size-medium {
  width: 58px;
}

.size-large {
  width: 100px;
}

.size-x-large {
  width: 200px;
}
