.root {
  text-align: center;
}

.title,
.description {
  margin: 0;
}

.title {
  color: #fcfaf7;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.description {
  margin-top: 12px;
  color: #bdbdbd;
  font-size: 16px;
  line-height: 24px;
}

.reverse .title {
  color: #1a1a1a;
}

.reverse .description {
  color: #666;
}
