.ui-Split {
  display: flex;
  flex-wrap: wrap;
  padding: 36px 70px 60px;
  width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}

.ui-Split-Top {
  flex: 0 0 100%;
  min-width: 0;
}

.ui-Split-Side {
  flex: 0 0 320px;
  padding-right: 40px;
  box-sizing: border-box;
  justify-content: flex-start;
  align-self: flex-start;
}

.ui-Split-Content {
  flex: 1 1 0;
  min-width: 0;
  padding-left: 40px;
  box-sizing: border-box;
}

.ui-Split-Side + .ui-Split-Content {
  border-left: 1px solid #e2ddd5;
}
