.root {
  /* --button-background: #fff;
  --button-border-color: #e5e5e5;
  --button-color: #1a1a1a; */

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border: 1px solid var(--button-border-color);
  border-radius: 6px;
  background: var(--button-background);
  color: var(--button-color);
  font-family: 'Funnel Sans', sans-serif;
  text-align: center;
  cursor: pointer;
}

.shape-default {
  border-radius: 6px;
}

.shape-link {
  width: fit-content;
  height: auto;
  padding: 0;
  border-color: transparent;
  border-radius: 0;
  background: transparent;
}

.variant-default {
  /* --button-background: #fff;
  --button-border-color: #e5e5e5;
  --button-color: #1a1a1a; */
}

.variant-primary {
  --button-background: #000;
  --button-border-color: #000;
  --button-color: #fff;
}

.variant-secondary {
  --button-background: #fff;
  --button-border-color: #000;
  --button-color: #000;
}

.variant-accent {
  --button-background: #FF9800;
  --button-border-color: #FF9800;
  --button-color: #000000;
}

.variant-ghost {
  --button-background: #fff;
  --button-border-color: #aaa;
  --button-color: #555;
}

.variant-soft {
  --button-background: #fff4df;
  --button-border-color: #d9c6a5;
  --button-color: #333;
}

.variant-danger {
  --button-background: #C92A24;
  --button-border-color: #C92A24;
  --button-color: #fff;
}

.variant-danger-weak {
  --button-background: #fff;
  --button-border-color: #b3261e;
  --button-color: #b3261e;
}

.size-small {
  height: 32px;
  padding-inline: 20px;
  font-size: 11px;
  font-weight: 700;
}

.size-medium {
  height: 40px;
  padding-inline: 24px;
  font-size: 12.5px;
  font-weight: 700;
}

.size-large {
  height: 48px;
  padding-inline: 24px;
  font-size: 14px;
  font-weight: 700;
}

.shape-link.size-small,
.shape-link.size-medium,
.shape-link.size-large {
  padding-left: 10px;
  padding-right: 10px;
}

.root:disabled,
.root[aria-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.45;
}

.is-block {
  width: 100%;
}

.root .leading {
  padding-right: 6px;
}

.root .trailing {
  padding-left: 6px;
}
