.root {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 42px;
  align-items: center;
  border: 1px solid #c9c3ba;
  border-radius: 4px;
  background-color: #fff;
  color: #1a1a1a;
  font-family: 'Funnel Sans', sans-serif;
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
}

.root > input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
}

.root > input::placeholder {
  color: #999999;
  font-weight: 300;
}

.root > input {
  padding-inline: 12px;
  font-weight: 700;
}

.root > .leading,
.root > .trailing {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.root > .leading {
  left: 12px;
}

.root > .trailing {
  right: 12px;
}

.has-leading > input {
  padding-left: 36px;
}

.has-trailing > input {
  padding-right: 36px;
}

.is-reverse {
  border-color: rgb(255 255 255 / 15%);
  background-color: transparent;
  color: #fff;
}

.size-small {
  box-sizing: border-box;
  height: 40px;
  font-size: 0.8125rem; /* 13px */
}

.size-medium {
  box-sizing: border-box;
  height: 48px;
  font-size: 0.90625rem; /* 14.5px */
}

.size-large {
  box-sizing: border-box;
  height: 56px;
  font-size: 1rem; /* 16px */
}
